<div class="row">
	<div class="col-xs-12 col-md-6 ndn-img-box">
		<img src="images/sample1.jpg">
		<div class="ndn-img-info">
			<div class="ndn-img-tag">Style</div>
			<div class="ndn-img-text">
				She’s starting to be super independent.
			</div>
			<div class="ndn-author">
				<span><i class="fa fa-user-o"></i> Richard</span>
				<span><i class="fa fa-clock-o"></i> Agosto 4, 2017</span>
			</div>
		</div>
	</div>
</div>