<div class="kf_party_banner_caption">
	<h4>{{current.question}}</h4>
	<ul class="ndn-search-option">
		<li ng-animate="'animate'" ng-repeat="option in current.options" ng-click="next(option)">
		<img src="/uploads/images/filters/{{option.value}}.png" image-fallback="'/uploads/images/filters/default.png'">
		{{option.text}}
		</li>
	</ul>
</div>